# Session 05 - Tutorial. Data Structures in Pandas

## This session will cover:

1. Concatenating data
2. Advance merging of data sets
3. Grouping

# 1. Let's load and install some libraries

In [1]:
import pandas as pd

# 2. Let's load some datasets

In [5]:
## The air_quality_no2_long.csv data set provides ùëÅùëÇ2 values for the measurement stations FR04014, BETR801 and London Westminster in respectively Paris, Antwerp and London.
air_quality_no2 = pd.read_csv('https://www.dropbox.com/s/70230oct6p0ovnv/air_quality_no2_long.csv?dl=1',parse_dates=True)

In [ ]:
air_quality_no2.head()

In [7]:
## The air_quality_pm25_long.csv data set provides ùëÉùëÄ25 values for the measurement stations FR04014, BETR801 and London Westminster in respectively Paris, Antwerp and London.

air_quality_pm25 = pd.read_csv('https://www.dropbox.com/s/d0ef5l5rm95fkdx/air_quality_pm25_long.csv?dl=1',parse_dates=True)

In [20]:
air_quality_pm25.head()

,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,¬µg/m¬≥
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,¬µg/m¬≥
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,¬µg/m¬≥
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,¬µg/m¬≥
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,¬µg/m¬≥

In [8]:
## The air quality measurement station coordinates are stored in a data file air_quality_stations.csv

stations_coord = pd.read_csv("https://www.dropbox.com/s/1wd3n5m1chg1b1k/air_quality_stations.csv?dl=1")

In [9]:
stations_coord.head()

  location  coordinates.latitude  coordinates.longitude
0  BELAL01              51.23619                4.38522
1  BELHB23              51.17030                4.34100
2  BELLD01              51.10998                5.00486
3  BELLD02              51.12038                5.02155
4  BELR833              51.32766                4.36226

In [11]:
## The air quality parameters metadata are stored in a data file air_quality_parameters.csv

air_quality_parameters = pd.read_csv("https://www.dropbox.com/s/qnp2myzjbukpbgj/air_quality_parameters.csv?dl=1")

In [12]:
air_quality_parameters

     id                                        description   name
0    bc                                       Black Carbon     BC
1    co                                    Carbon Monoxide     CO
2   no2                                   Nitrogen Dioxide    NO2
3    o3                                              Ozone     O3
4  pm10  Particulate matter less than 10 micrometers in...   PM10
5  pm25  Particulate matter less than 2.5 micrometers i...  PM2.5
6   so2                                     Sulfur Dioxide    SO2

# 3. Concatenation

## Combine the measurements of ùëÅùëÇ2 and ùëÉùëÄ25, two tables with a similar structure, in a single table

# 4. Join

## Add the station coordinates, provided by the stations metadata table, to the corresponding rows in the measurements table.

## compare the dimension of the original dataframes and the merged one

## Add the parameter full description and name, provided by the parameters metadata table, to the measurements table

## compare the dimension of the original dataframes and the merged one

# 5. Grouping

## Find the average value of pm25 and no2 in each city over time

## Find the average value of pm25 and no2 in each station over time

## Locate the time when the maximimum value of PM25 or no2 was reachead in each city