# Session 06 - Tutorial. Data Transformation in Pandas

# 1. Let's load some libraries

In [28]:
import pandas as pd
import seaborn as sns

# 2. Let's load and concatenate some datasets

In [29]:
# similar to reading data from csv file, we can read data from excel sheets, we need to specify which column we need to read data from
# this data is a sample from comercial software Tableau
order_df=pd.read_csv('Superstore.csv')

selected_columns=['Order ID', 'Order Date', 'Product ID','Segment', 'Region','Category','variable','value']

order_df_selected=order_df[selected_columns]
# or similarly you can do
order_df_selected2=pd.DataFrame(order_df,columns=selected_columns)

In [30]:
order_df_selected.head()

,Order ID,Order Date,Product ID,Segment,Region,Category,variable,value
0,CA-2013-152156,2013-11-09 00:00:00,FUR-BO-10001798,Consumer,South,Furniture,Sales,261.9600
1,CA-2013-152156,2013-11-09 00:00:00,FUR-CH-10000454,Consumer,South,Furniture,Sales,731.9400
2,CA-2013-138688,2013-06-13 00:00:00,OFF-LA-10000240,Corporate,West,Office Supplies,Sales,14.6200
3,US-2012-108966,2012-10-11 00:00:00,FUR-TA-10000577,Consumer,South,Furniture,Sales,957.5775
4,US-2012-108966,2012-10-11 00:00:00,OFF-ST-10000760,Consumer,South,Office Supplies,Sales,22.3680

In [31]:
order_df_selected['variable'].unique()

array(['Sales', 'Quantity', 'Discount', 'Profit'], dtype=object)

### Task 1. Your manager wants a report in form of a table where you show average value of different 'variable' ("Sales", "Quantity", and "Profit") for each segment

### Like the following table

<img src="https://www.dropbox.com/s/5v7pb18cusx77cy/Screenshot%202022-03-04%20at%2019.26.55.png?dl=1">

### Task 1.1 Create a dataframe where you have a column for each 'variable' namely "Sales", "Quantity", and "Profit"

In [1]:
#we transform the data from a long format to a wide format

#we then reset the index such that it starts from zero

### Task 1.2 Calculate the average value for'variable' namely "Sales", "Quantity", and "Profit"

### Challenge yourself: Think about other approaches to create the same outcome:

### Task 2. Provide the minimum, maximum, and average for Discount for combinations of Regions and Segments

<img src="https://www.dropbox.com/s/rokpmkac1qsnt05/Screenshot%202022-03-04%20at%2019.29.27.png?dl=1">

### Task 3. Your managers needs a graph for variation of Sales and Profit over different months



<img src="https://www.dropbox.com/s/j2j0bfynpnfxw3c/Screenshot%202022-03-04%20at%2019.55.50.png?dl=1">

### Task 3.1 Convert 'Order Date' to a datetime column

### Task 3.2 Find average value for each month for Discount

### Challenge yourself: Think about other approaches to create the same outcome: