[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mosleh-exeter/BEM1025/blob/main/sessions/19-Session%2009%20Functions%20in%20Pandas-practice.ipynb)

# Session 9.1 functions-practice

# 0. Let's load and install some libraries

In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

# 1. Let's load some data

In [4]:
df=pd.read_excel('Superstore.xls',dtype={'Order Date':'str'})
df.head(2)

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,variable,value
0,0,1,CA-2013-152156,2013-11-09 00:00:00,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Sales,261.96
1,1,2,CA-2013-152156,2013-11-09 00:00:00,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Sales,731.94

#### **Note 1**:
####    To extract some characters (letters) from a string X you can use X[i:j] where i indicates the first character and j-1 indicates the last character

In [14]:
X='This is a book'
print ('first letter:', X[0],'second letter:', X[1])
print ('first two letters:',X[:2],'or', X[0:2])

first letter: T second letter: h
first two letters: Th or Th

#### **Note 2**:
####    To compare two variables you can use "A==B" which returns True if A and B are equal and False if they are not. 
#### This is similar to write an if:

In [15]:
A=2
B=3
C= (A==B)
print(C)

if A==B:
    C=True
if A!=B:
    C=False
print(C)

False
False

### For each of the following tasks using pandas apply

### **Task 1**. Create a new column in the dataset that shows 'true' if the order was made in the US, and 'false' if made in other places (e.g., Canada). Use order ID

#### TIP: You need to check the first three letters of Order ID
#### TIP: To extract some characters (letters) from a string you can use X[i:j] where i indicates the first character and j-1 indicates the last character

### **Task 2**. Create a new column that shows how many years has passed since the order was created using Order Date

#### TIP: You need to extract first 4 letters/characters of Order ID. To change a string to number you can use int(X) and then find 2022-int(X)

### **Task 3**. Create a new column that discretize the value of Sales to low: <200, mid: >=200 and <1000, high: >=1000
#### TIP: You may need to transform the dataset to a wide dataset containing a column for Sales

### **Task 4**. Calculate profit margin per number of product sold
#### TIP : Divide profit by sales then divide the results by quantities
#### TIP: You may need to transform the dataset to a wide dataset containing  columns for Sales, Discount, Quantities, and Profit