In [1]:
# we import the library pandas and give it the "pd" nickname
import pandas as pd
import numpy as np

# **For all questions YOU HAVE TO WRITE SOME CORRECT  PYTHON CODE! simply giving the final answer is not enough!** 

# You will receive credit for the Python code you will provide, you may also need to include some description for your answer particularly if you can't generate the correct outcome using the python code

### Assignment 4.1
#### (a) Create two variables called A1 and A2 in Python and assign them values of 5 and 9.
#### (b) Create variable C which holds the value of A1 divided by A2 and variable D that holds their multiplication.

#### Hint: You can do this using basic Python functionality without operations from Pandas

## (a)

## (b)

### You will work on the following dataframe for the rest of assignments
#### This dataset contains a subset of the fuel economy data that the EPA makes available on http://fueleconomy.gov. It contains only car models which had a new release every year between 1999 and 2008 - this was used as a proxy for the popularity of the car.:

manufacturer: manufacturer name; 

model: model name; 

displ: engine size in litres; 

year: year of manufacture; 

cyl: number of cylinders; 

trans: type of transmission; 

drv: the type of drive train where f = front-wheel drive, r = rear wheel drive, 4 = 4wd; 

cty: city miles per gallon; 

hwy: highway miles per gallon; 

fl:fuel type; 

class: "type" of car e.g. compact etc

In [2]:
df=pd.read_csv('https://www.dropbox.com/s/rx9ondhbqvd9zcm/mpg.csv?dl=1')
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

### Assignment 4.2
#### (a) Provide the list of column names, and number of rows in the dataframe
#### (b) Extract the columns "manufacturer", "model", and "year" (the outcome should have three columns not seperated single columns)
#### (c) Extract rows number 10, 20, 30, 35
#### (d) Extract columns "manufacturer", "year" and "class" for rows 100 and 200
#### (e) Provide the list of unique manufacturer (you need to remove duplicated manufacturers), Hint: you can consult pandas document: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html

## (a)

## (b)

## (c)

## (d)

## (e)

### Assignment 4.3
#### (a) Find the maximum size of engine
#### (b) Find the minimum mile per gallon in city across all cars
#### (c) Find the average mile per gallon on highway across all cars
#### (d) Create a new column in dataframe to normalize the mile per gallon on highway. You need to multiply mile per gallon on highway by engine size

## (a)

## (b)

## (c)

## (d)

### Assignment 4.4
#### (a) Find cars that have either 4 or 9 cylinders 
#### (b) Find cars that have engine size between 4 and 5 (inclusive, you need to include 4 and 5)
#### (c) Find all suv cars manufactured by chevrolet except in 2008
#### (d) What is average mile per gallon on highway for all models of toyota 4runner manufactured in 1999?

## (a)

## (b)

## (c)

## (d)